.DS_Store
project_data/sample_data_gpt.csv
project_data/test_data.csv
project_data/train_data.csv
project_data/sample_submission.csv
poetry.lock
pyproject.toml
Handout.pdf
train_data_sample.csv
deliverables/Klimentina_Sven.ipynb
Handout_first_del.pdf
WCIO_codes.pdf
do_be_deleted_multivariate_analysis.ipynb
/submission/submission_data
tb_delted/Curiosity_files.ipynb
tb_delted/to_be_deleted_multivariate_analysis.ipynb
Wide_Variety_of_Models.pdf
/tb_deleted