.DS_Store
/project_data
poetry.lock
pyproject.toml
Handout.pdf
train_data_sample.csv
deliverables/Klimentina_Sven.ipynb
Handout_first_del.pdf
A Wide Variety of Models for Multi-class Classifications | by Chris Kuo:Dr. Dataman | in Dataman in AI - Freedium.pdf