.DS_Store


/project_data
/tb_delted
/pdf_files


poetry.lock
pyproject.toml
train_data_sample.csv
deliverables/Klimentina_Sven.ipynb
WCIO_codes.pdf
do_be_deleted_multivariate_analysis.ipynb
/submission/submission_data

 */__pycache__
*/.ipynb_checkpoints
*/.vscode
*.pyc



deliverables/ben_test_file.ipynb
submission/submission_easy_models.ipynb
deliverables/falsf.ipynb
deliverables/ben.py
deliverables/principal_component.ipynb